.booking {
  background-color: $color-solitude;
  background-image: image-set("../img/background/background-booking-desktop@2x.webp" 2x, "../img/background/background-booking-desktop.webp" 1x);
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1023 {
    background-image: image-set("../img/background/background-booking-tablet@2x.webp" 2x, "../img/background/background-booking-tablet.webp" 1x);
  }

  @include vp-767 {
    background-image: image-set("../img/background/background-booking-mobile@2x.webp" 2x, "../img/background/background-booking-mobile.webp" 1x);
  }
}

.booking__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 48px;

  @include vp-1023 {
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;
  }
}

.booking__description {
  width: 50%;
  padding-top: 165px;

  @include vp-1023 {
    width: 77%;
    padding-top: 0;
    padding-bottom: 50px;
  }

  @include vp-767 {
    width: 100%;
    padding-top: 0;
    padding-bottom: 33px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.booking__description h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;

  @include vp-1023 {
    margin-bottom: 5px;
    font-size: 34px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 130%;
  }
}

.booking__description p {
  margin: 0;
  padding: 0;
  width: 67%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  @include vp-1023 {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  @include vp-767 {
    padding: 0;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
  }
}

.booking__form {
  width: 39%;
  min-width: 403px;
  padding-top: 45px;
  padding-right: 50px;
  padding-left: 52px;
  padding-bottom: 52px;
  background-color: $color-tangaroa;
  color: $color-alice-blue;

  @include vp-1023 {
    align-self: center;
    width: 74%;
  }

  @include vp-767 {
    align-self: center;
    width: 100%;
    min-width: 290px;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }
}

.booking__form h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @include vp-767 {
    text-align: center;
    line-height: 140%;
  }
}
