.button {
  display: block;
  padding: 10px 16px;

  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  justify-content: center;
  background-color: $color-alice-blue;
  user-select: none;


  cursor: pointer;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &:hover {
    color: $color-cerulean;
    outline: 4px solid $color-cerulean;
  }

  &:focus-visible {
    outline: 4px solid $color-cerulean;
  }

  &:active {
    opacity: 0.5;
  }
}
