.featuries {
  background-color: $color-solitude;
  background-image: image-set("../img/background/background-featuries@2x.webp" 2x, "../img/background/background-featuries.webp" 1x);
  background-repeat: no-repeat;
  background-size: cover;
}

.featuries ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.featuries li {
  background-color: $color-alice-blue;
}
