.main-footer {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
}

.main-footer__wrapper {
  display: flex;
}

.main-footer__socials {
  margin-left: auto;
}

.main-footer__socials ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
